.header {
  background: linear-gradient(to right, #24a3cf, #3650a0);
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--site-width);
  margin: 0 auto;
}

.title {
  padding: 1rem 0;
  color: white;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

.list {
  /*display: flex;
  align-items: center;*/
  /*height: 100%;*/
}

.list-item {

}
